
.curseclient
.vote2020_marker
/backups
/crash-reports
/local
*.log
*.gz
/saves
/screenshots
minecraftinstance.json
.mixin.out/audit/*
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
usernamecache.json
config/jei/*
config/jei-client.toml
servers.dat
servers.dat_old
config/appliedenergistics2-client.toml
patchouli_data.json
config/environmental/*
logs/*
